body {
  font-family: sans-serif;
}
li {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: azure;
}
li:nth-of-type(even) {
  background-color: #fff;
}
